div#action-buttons-1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 48px;
    padding: 4px;
    background-color: rgba(20, 15, 10, 0.65);
    box-shadow: -3px -5px 5px rgba(20,15,10,0.15);
}

div#action-buttons-2 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 4px;
    background-color: rgba(20, 15, 10, 0.65);
    box-shadow: -3px -5px 5px rgba(20,15,10,0.15);
}

div.action-button {
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    align-items: center;
    justify-content: center;
    cursor: url('/images/cursor-pointer.png'), pointer;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    overflow: hidden;
}

div.action-button img.action-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

div.action-button::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.2s;
}

div.action-button:hover::after {
    opacity: 1;
}

div.action-button.toggled {
    border-color: rgba(230, 220, 160, 0.8);
    filter: brightness(1.1);
    box-shadow:
            inset 0 0 6px rgba(230, 220, 160, 1),
            0 0 6px rgba(230, 220, 198, 0.35);
    animation: toggledPulse 1.6s ease-in-out infinite;
}

div.action-button.active {
    border-color: rgba(230, 60, 60, 0.8);
    filter: brightness(1.1);
    box-shadow:
            inset 0 0 6px rgba(230, 60, 60, 1),
            0 0 6px rgba(230, 60, 60, 0.35);
    animation: activePulse 1.6s ease-in-out infinite;
}

@keyframes toggledPulse {
    0% {
        box-shadow:
                inset 0 0 6px rgba(230, 220, 160, 0.4),
                0 0 6px rgba(230, 220, 160, 0.35);
    }
    50% {
        box-shadow:
                inset 0 0 12px rgba(230, 220, 160, 1),
                0 0 16px rgba(230, 220, 160, 0.6);
    }
    100% {
        box-shadow:
                inset 0 0 6px rgba(230, 220, 160, 0.4),
                0 0 6px rgba(230, 220, 160, 0.35);
    }
}

@keyframes activePulse {
    0% {
        box-shadow:
                inset 0 0 6px rgba(230, 60, 60, 0.4),
                0 0 6px rgba(230, 60, 60, 0.35);
    }
    50% {
        box-shadow:
                inset 0 0 12px rgba(230, 60, 60, 1),
                0 0 16px rgba(230, 60, 60, 0.6);
    }
    100% {
        box-shadow:
                inset 0 0 6px rgba(230, 60, 60, 0.4),
                0 0 6px rgba(230, 60, 60, 0.35);
    }
}

