.range-slider {
    -webkit-appearance: none; /* Chrome, Safari */
    appearance: none;
    width: 100%;
    height: 6px;
    background: var(--dialog-color-dark);
    border-radius: 4px;
    outline: none;
}

/* Chrome, Safari, Edge thumb */
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--dialog-color);
    cursor: url('/images/cursor-pointer.png'), pointer;
}

/* Firefox */
.range-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1abc9c;
    cursor: url('/images/cursor-pointer.png'), pointer;
}

/* Firefox track */
.range-slider::-moz-range-track {
    background: #0a2f5f;
    height: 6px;
    border-radius: 4px;
}

